@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}
  <div id="mapdiv" style="height:800px;"></div>
  <script src="http://www.openlayers.org/api/OpenLayers.js"></script>
  <script src="Markers.js"></script>